/* body */

body {
  padding: 50px;
  font: 14px 'Roboto', Helvetica, Arial, sans-serif;
  --profile-height: 20em;
  --tr-td-first-child-font-size: 1.5em;
  --commentName: 0.75em;
  --calendarMonth-margin: 20px 0;
  --calendarMain-margin: 0 5%;
  --calendarMonth-width: 200px;
  --monthArt-height: 40px;
  --persons-height: 170px;
  --main-margin-bottom: 5%;
  --my-2-margin-right: 10px;
  --color-orange: #f2911f;
}

main {
  margin-bottom: var(--main-margin-bottom);
}

button:hover {
  cursor: pointer !important;
}
/* Header */

.navbar-toggleable-md .navbar-collapse {
  width: auto !important;
}

.my-2 {
  margin-right: var(--my-2-margin-right);
}

.m-logo {
  float: right;
}
.btn-outline-success {
    color: var(--color-orange) ;
    background-image: none;
    background-color: transparent;
    border-color: var(--color-orange) ;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: var(--color-orange) ;
    border-color: var(--color-orange) ;
}

.form-group2 {
  display: inline-block !important;
}

.error {
  visibility: hidden;
}
/* Profile Box */


.profilecomponent {
  /*display: inline-block;*/
  display: flex;
  /*height: var(--profile-height);*/
  padding: 20px 0;
  height: auto;
}

.comment-section {
  padding: 1em;
  height: 20em;
  overflow-y: scroll;
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  width: 100%;
}

.comment-button {
    color: var(--color-orange) ;
    background-image: none;
    background-color: transparent;
    border-color: var(--color-orange) ;
}

.comment-button:hover {
    color: #fff;
    background-color: var(--color-orange);
    border-color: var(--color-orange);
}

.comment {
  font-size: 1em;
  right: 2em;
}

.delete-button {
  width: 2em;
  width: 2em;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: var(--color-orange)
}

table {
  width: 100%;
}

table td {
  text-align: center;
}

table tr:nth-child(even){
  background-color: rgba(180, 180, 180, 0.5);
}

tr td:first-child {
  text-align: left;
  font-size: var(--tr-td-first-child-font-size);
}

.commentName {
  font-size: var(--commentName-font-size);
}

/* Calendar */

.card {
  height: 100%;
}

.calendarMain {
  box-sizing: border-box;
  width: 100%;
  margin: var(--calendarMain-margin);
}

.calendarMonth {
  float: left;
  margin: var(--calendarMonth-margin);
}

.monthArt {
  text-align: center;
  border: 1px solid var(--color-orange);
  width: var(--calendarMonth-width);
  height: var(--monthArt-height);
  background-size: 100% 100%;
}

.persons {
  text-align: left;
  border: 1px solid #acacac;
  width: var(--calendarMonth-width);
  height: var(--persons-height);
}

.persons p {
  padding-top: 5px;
  padding-left: 10px;
}

/* calendar background images */

.m1 {
  /* January */
  background-image: url('../images/GDay.png');
}

.m2 {
  /* February */
  background-image: url('../images/GDay.png');
}

.m3 {
  /* March */
  background-image: url('../images/GDay.png');
}

.m4 {
  /* April */
  background-image: url('../images/GDay.png');
}

.m5 {
  /* May */
  background-image: url('../images/GDay.png');
}

.m6 {
  /* June */
  background-image: url('../images/GDay.png');
}

.m7 {
  /* July */
  background-image: url('../images/GDay.png');
}

.m8 {
  /* August */
  background-image: url('../images/GDay.png');
}

.m9 {
  /* September */
  background-image: url('../images/GDay.png');
}

.m10 {
  /* October */
  background-image: url('../images/GDay.png');
}
.m11 {
  /* November */
  background-image: url('../images/GDay.png');
}

.m12 {
  /* December */
  background-image: url('../images/GDay.png');
}


/* Mobil Responsive */

@media screen and (max-width: 767px) {
  .profilecomponent {
    display: inline-block;
    /*display: flex;*/
    height: var(--profile-height);
    padding: 20px 0;
  }

  .comment-section {
    padding: 1em;
    height: 20em;
    overflow-y: scroll;
    border: 1px solid var(--color-orange);
    border-radius: 5px;
    width: 100%;
  }
}
