body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.navbar-toggleable-md .navbar-collapse {
  width: auto !important;
}

.my-2 {
  margin-right: 10px;
}

.m-logo {
  float: right;
}

.form-group2 {
  display: inline-block !important;
}
