body {
  padding: 50px;
  font: 14px "Lemon Tuesday", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#id{
  mar
}
.navbar-toggleable-md .navbar-collapse {
  width: auto !important;
}

.my-2 {
  margin-right: 10px;
}

.m-logo {
  float: right;
}
.btn-outline-success {
    color: #f2911f ;
    background-image: none;
    background-color: transparent;
    border-color: #f2911f ;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #f2911f ;
    border-color: #f2911f ;
}

.form-group2 {
  display: inline-block !important;
}

element {
  --profile-height: 15em;
}
.profilecomponent {
  display: flex;
  height: var(--profile-height);
}
.comment-section {
  height: 100%;
  padding: 1em;
  overflow: scroll;
  border: 1px solid #F2911F;
  border-radius: 5px;
  width: 100%;
}
.comment-button {
    color: #f2911f ;
    background-image: none;
    background-color: transparent;
    border-color: #f2911f ;
}

.comment-button:hover {
    color: #fff;
    background-color: #f2911f ;
    border-color: #f2911f ;
}

.list-group-item {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: disc;
}
.comment {
  font-size: 1em;
  right: 2em;
}

.delete-button {
  width: 2em;
  width: 2em;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.delete-button:hover {
  cursor: pointer;
}

tbody tr > td {
  text-align: center;
}

tbody tr > td:first-child {
  text-align: left;
}

tbody > tr:nth-child(even) {
  background-color: rgba(180, 180, 180, 0.5);
}

table {
  width: 100%;
}

.profilebox {
  height: var(--profile-height) !important;
}

.card {
  height: 100%;
}
